<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<p>Green Thumb🌱</p>

<hr>
<a sec:authorize="isAnonymous()" th:href="@{/auth/login}">로그인</a>
<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
<a sec:authorize="isAnonymous()" th:href="@{/auth/signup}">회원가입</a>
<a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/me}">내정보</a>
<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>

<a href="/oauth2/authorization/google">구글 아이디로 로그인</a>
<a href="/oauth2/authorization/naver">네이버 아이디로 로그인</a>
<a href="/oauth2/authorization/kakao">카카오 아이디로 로그인</a>
</body>
</html>